<div class="alerts-wrapper">
    <div class="alert position-relative d-flex align-items-center  justify-content-start mb-0 alert-{{alert.type}} border-0 open"
        *ngFor="let alert of alerts">
        <div class="error-icon mr-2 text-center rounded-circle text-white font-weight-bold"
            [ngStyle]="{backgroundColor:getColor(alert.type)}">{{
            alert.type == 'danger' ? '&#x274C;' :
            '&#x21;' }}
        </div>
        <div class="alert-message">{{alert.message}}</div>
        <div class="bottom-bar position-absolute" [ngStyle]="{backgroundColor:getColor(alert.type)}"></div>
    </div>
</div>