.alerts-wrapper {
  position: fixed;
  bottom: 10vh;
  right: 10vw;
  z-index: 99;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  width: 280px;
  max-height: 90vh;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.error-icon {
  line-height: 30px;
  height: 30px;
  width: 30px;
}
.bottom-bar {
  height: 5px;
  background-size: 100%;
  right: 0;
  bottom: 0;
  width: 100%;
  transform-origin: right;
  transition: transform 5s ease-in-out;
}
.alert:not(.open) .bottom-bar {
  transform: scale(0, 1);
}
